body
{
	margin: 65px 0;
	background-color: #26282E;
	color: #209781;
    font-family: 'Lobster', sans-serif;
    font-size: 28px;
}

a:link    { color: #209781; text-decoration: none; }
a:visited { color: #209781; }
a:active  { color: #209781; }
a:hover   { color: #E9B64A; }

h1 {
	font-size: 64px;
	font-weight: 400;
	text-align: center;
	letter-spacing: 20px;
	margin-top: 20px;
	margin-bottom: 0px;
}

p {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 25px;
	letter-spacing: 2px;
}

.board, .score {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.card {
	width: 125px;
	height: 125px;
	display: inline-block; /*kafelki są divami, bez tego ustawiały by się blokowo - jeden pod drugim */
	margin: 3px;
	background-image: url('img/karta.png');
	border: 4px solid #51c8b2;
	border-radius: 4px;
	cursor: pointer;
	filter: brightness(68%);
	transition: all .3s ease-in-out;
}

.card:hover {
	border: 4px solid #e9b64a;
	filter: brightness(100%);
}

.cardA {
	width: 125px;
	height: 125px;
	display: inline-block; /*kafelki są divami, bez tego ustawiały by się blokowo - jeden pod drugim */
	margin: 3px;
	background-image: url('img/karta.png');
	border: 4px solid #e9b64a;
	border-radius: 4px;
	cursor: default;
	filter: brightness(100%);
	transition: all .3s ease-in-out;
}

.koniec {
	color: #e9b64a;
	font-size: 28px;
	border: 1px black;
}

.score {
	margin-top: 5px;
	letter-spacing: 2px;
}





